<h1>Weather module</h1>

<rareink-ui-loader [visible]="(weather$ | async)?.isFetching"></rareink-ui-loader>

<p>Load city data by clicking on it. </p>
<app-ui-city *ngFor="let city of cities" [image]="city.image" [name]="city.name" [longitude]="city.longitude" [latitude]="city.latitude" (onSelect)="loadCity($event)"></app-ui-city>

<h3>Form</h3>

<form class="form" [formGroup]="form">
  <rareink-ui-input label="Longitude" placeholder="Enter longitude...." [control]="form.get('longitude')"></rareink-ui-input>
  <rareink-ui-input label="Latitude" placeholder="Enter latitude...." [control]="form.get('latitude')"></rareink-ui-input>

  <rareink-ui-button [disabled]="!form.valid"  text="Get Weather data" (click)="getWeather()"></rareink-ui-button>
</form>

<br/>

<rareink-ui-notes *ngIf="!(weather$ | async)" type="info" text="Click on Get Weather data button to fetch info."></rareink-ui-notes>

<rareink-ui-card *ngIf="(weather$ | async)?.data" [title]="(weather$ | async)?.data" description="Current Weather"></rareink-ui-card>
<rareink-ui-notes *ngIf="(weather$ | async)?.dataError" type="danger" text="Error while fetching wather data"></rareink-ui-notes>

<app-ui-air-quality *ngIf="(weather$ | async)?.airQuality" [number]="(weather$ | async)?.airQuality"></app-ui-air-quality>
<rareink-ui-notes *ngIf="(weather$ | async)?.airQualityError" type="danger" text="Error while fetching qir quality"></rareink-ui-notes>


<app-ui-forecast *ngIf="(weather$ | async)?.forecast" [forecast]="(weather$ | async)?.forecast?.query?.results?.channel?.item?.forecast"></app-ui-forecast>
<rareink-ui-notes *ngIf="(weather$ | async)?.forecastError" type="danger" text="Error while fetching foreacast data"></rareink-ui-notes>
